*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: linear-gradient(rgba(3,4,7,0.48),rgba(5,10,30,0.48)),url(images/saba.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right:50px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
.header-brand{
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
    
}
.header-brand_span{
    color: aqua;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3%;
    background-color: #4554627a;
}
.header-text{
    text-align: center;
    margin-top: 5%;
    line-height: 100px;
}
.header-text--2{
    display:none;
}
.mobile-nav{
    display: none;
    
}
.header-text h1{
   
    font-size: 150px;
    font-weight: 700;
    color: aliceblue;
}
.header-text h1 span{
    color: aquamarine;
}
.img-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.img-name h2{
    font-size: 50px;
    color: aliceblue;
}
.img-name img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/* About me */
.About-me{
    background-image: linear-gradient(rgba(3,4,7,0.48),rgba(5,10,30,0.48)),url(images/darl.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    z-index: -1;
}
.About-me img{
    position: absolute;
    width:38%;
    margin-top: 7%;
    margin-left: 25%;

}
.About-me h1{
    padding: 5%;
    color: aliceblue;
    text-align: center;
    font-weight: 700;
}
.About-me .cover-about{
    margin-top: -7%;
}
.About-me .about-text{
    position: absolute;
    width:30%;
    height: 40%;
    margin-top: 20%;
    margin-left: 40%;
    background-color: #4f4f4f88;
    text-align: center;
   
}
.About-me .about-text p{
    color: aliceblue;
    font-weight: 700;
    font-size: 25px;
}

.about-skills{
    width: 50%;
    color: aliceblue;
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.about-skills h3{
    padding-right: 5%;
    color: aliceblue;
}
.about-skills__h3--1{
    padding-right: 5%;
    border-bottom: 3px solid green;
    width: 5%;
    margin-right:50px ;
}

    /* Portfolio */
.main3{
    background-color: #181718;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.About-me .cover-about{
    width: 100%;
   justify-content: center;
}
  
    /* Services */

.main3{
  height: 50vh; 
  color: cyan;
  margin-top: -3%;
}
.main3 .cardmain .card img{
  width: 150px;
  margin: auto;
}
.main3 .cardmain .shadow{
    background-color: #161F32;
  width: 17rem;
  margin: auto;
}
.main3 .container .cardmain{
justify-content: center ;
}
.main3 .container .cardmain .card-shadow{
  box-shadow: -13px 14px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -13px 14px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -13px 14px 5px 0px rgba(0,0,0,0.75);
  }
  .About-me s.background-block{
    width: 100%px; 
    height: 24vh; 
    background-color: #3a71e9; 
    position: relative; margin-top: -16%; 
    z-index: -1;
  }
.button{
    width: 200px;
    background-color: #1e2a46;
    
    text-align: center;
    border-radius: 50px;
    
}
.button1{
    color: aqua;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}


 /****************** contact ****************************/



.contact{
    background-image: url(images/darl.jpg);
    height:100vh;
    padding: 10%;
    color: #fff;
}
.contact_row{
    display: flex;
    flex-direction: row;
}
.contact h1{
    font-size: 60px;
}
.contact_left{
    flex-basis: 35%;
}
.contact_left p{
    margin-top: 30px;
}
.contact_left p i{
    margin-top: 30px;
    color: aqua;
    margin-right: 15px;
    font-size: 20px;
}

.contact-left__icons{
    margin-top: 15px;
    
}
.contact-left__icons a i{
    font-size: 40px;
    
}
.contact-left__icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: aliceblue;
    display: inline-block;
}
.contact-left__icons a:hover{
    color: aqua;
    transform: translateY(-5px);
    transition: 0.5s ease;
}
.contact__btn{
    display: block;
    margin: 50px auto;
    border: 1px solid rgb(12, 228, 228);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(0, 222, 252);
    width: fit-content;
    background-color: transparent;
}
.contact__btn:hover{
    transition: 0.5s ease;
    background: #161F32;
}


.contact-right form{
    width: 100%;}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #4554627a;
    padding: 15px;
    margin: 15px 0;

    font-size: 18px;
    border: 6px;
}
    
.contact__btn .contact__btn--2{
    display: inline-block;
    background-color: #312d2d;
    font-size: 18px;
}
.contact__btn--2:hover{
    transition: 0.5s ease;
    background: #161F32;
}
footer{
    height: 15vh;
    width: 100%;
    padding: 3% 0;
    text-align: center;
    background-color: #1e2a46;
    font-weight: 300;
    color: aliceblue;
}



/************************************* media queries *************************/


/************************************* Hero Section *************************/
@media only screen and  (max-width: 600px){
    header{
       background-image: none; 
       background-color: #1e2a46;
       
    }
    
    .nav-desktop{
      display: none;
    }
    .header-text{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .header-text--2{
        margin-top: 10%;
        display: block;
        justify-content: center;
        text-align: center;
    }
    .header-text--2 h1{
       display: none;
        
    }
    .header-text--2 h1 span{
        color: aqua;
    }
    .header-text--2 .img-name{
      display: block;
      
    }
    .header-text--2 .img-name h2 span{
        color: aqua;
    }
    .header-text--2 .img-name h2{
        margin-top: 10%;
        font-size: 35px;
        font-weight: 700;
    }
    .header-text--2 .img-name h3{
        color: aquamarine;
    }
    .header-text--2 .img-name img{
        width: 150px;
        height: 150px;
    }
}
/************************************* About Section *************************/
@media only screen and  (max-width: 600px){
    .About-me{
      
    }
    .About-me img{
        margin-top: 20%;
       margin-left: 3.5%;
       width: 350px;
    }
    .About-me h1{
        font-size: 35px;
        margin: auto;
    }
    .About-me .cover-about{
        
    }
    .About-me .about-text{
        margin-top: 14rem;
       margin-left: 3.5%;
       width: 350px;
    }
    .About-me .about-text p{
       font-size: 20px;
    }
    
    .about-skills{
        margin-top: 5%;
    }
    
    .about-skills h3{
        font-size: 15px;
    }
    .about-skills__h3--1{
       
    }
}
/************************************* portfolio Section *************************/
/* @media only screen and  (max-width: 600px){
    
} */
/************************************* Contact Section *************************/
/* @media only screen and  (max-width: 600px){
    
} */